<% include inc/header.html %>

<div class="container">
  <div class="well">
    <form class="form-horizontal" role="form" method="post" id="add-api-form">
      <div class="form-group">
        <label for="api-name" class="control-label col-md-2"
          ><%=t("import.importfile")%>：</label
        >
        <div class="col-md-4">
          <input
            type="file"
            class="form-control"
            id="import-file"
            value="<%=apiInfo.importfile%>"
            required
          />
          <span class="help-block"><%-t("help.importyamlfile")%></span>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary center-block"
          id="add-api-submit"
        >
          <%=t("transform")%>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- /container -->

<script src="<%=config.staticUrl%>/assets/js/common.js?v=<%=config.staticVersion%>"></script>
<script src="<%=config.staticUrl%>/assets/js/brand/js-yaml.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    var lastJson = {}; // 存储yaml获取到的解析的数据
    var fileName = ""; // 存储文件名称
    let isYaml = true;
    var formData = "";
    const upload = document.querySelector("#import-file");
    $("#import-file").change(function (event) {
      //此处校验文件后缀
      var file = event.target.files[0].name; // (利用console.log输出看file文件对象) properties/xml/json/conf/config/data/ini/txt/yaml/yml/cfg
      var num = file.split(".");
      fileName = num[0];
      var mun = num[num.length - 1];
      if (mun == "yaml") {
        isYaml = true;
        readFile();
      } else if (mun == "doc" || mun == "docx") {
        isYaml = false;
        console.log("fileName", fileName);
        uploadWord();
      } else {
        alert("请重新点击选择文件传入符合标准的文件");
      }
    });
    function uploadWord() {
      formData = new FormData();
      let fileselect = upload.files[0]; //找到文件上传的元素
      formData.append("file", fileselect); //上传一个files对象
      formData.append("fileName", fileName); //需要上传的多个参数
    }
    // 读取yaml文件内容
    function readFile() {
      let fileselect = upload.files[0]; //找到文件上传的元素
      let reader = new FileReader();
      if (typeof FileReader === "undefined") {
        alert("您的浏览器不支持FileReader接口");
        return;
      }
      reader.readAsText(fileselect, "utf-8"); //注意读取中文的是用这个编码，不是utf-8
      reader.onload = function () {
        lastJson = yaml2json(reader.result);
      };
    }

    // 获取yaml数据转json
    function yaml2json(reader) {
      let doc = jsyaml.load(reader);
      return doc;
    }

    // 添加日期格式化
    Date.prototype.format = function (fmt) {
      var o = {
        "M+": this.getMonth() + 1, //月份
        "d+": this.getDate(), //日
        "h+": this.getHours(), //小时
        "m+": this.getMinutes(), //分
        "s+": this.getSeconds(), //秒
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
        S: this.getMilliseconds(), //毫秒
      };
      if (/(y+)/.test(fmt))
        fmt = fmt.replace(
          RegExp.$1,
          (this.getFullYear() + "").substr(4 - RegExp.$1.length)
        );
      for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt))
          fmt = fmt.replace(
            RegExp.$1,
            RegExp.$1.length == 1
              ? o[k]
              : ("00" + o[k]).substr(("" + o[k]).length)
          );
      return fmt;
    };

    var $addApiForm = $("#add-api-form");
    $addApiForm.submit(addApi);
    function addApi(e) {
      e.preventDefault();

        let ajaxUrl =  `<%=config.siteUrl+config.managerPath%>apis/${isYaml? 'transform': 'transformWord'}`;
        $.ajax({
          type: "post",
          url: ajaxUrl,
          data: isYaml? { data: JSON.stringify(lastJson) }:formData,
          contentType: isYaml ? 'application/x-www-form-urlencoded; charset=UTF-8' : false,
          processData: isYaml, 
          success: function (results) {
            if (results.retcode == 0) {
              let url = `<%=config.staticUrl%>` + results.downloadUrl;
              downloadXlsx(url, results);
            } else {
              alert(results.retmsg || '<%=t("tips.operationFailed")%>');
            }
          },
          error: function (err) {
            alert(err);
          },
        });
    }

    function downloadXlsx(url, results) {
      let downloadElement = document.createElement("a");
      downloadElement.href = url;
      let date = new Date().format("yyyy-MM-dd-hh:mm:ss");
      downloadElement.download = `${fileName}-${date}`; //下载后文件名
      document.body.appendChild(downloadElement);
      downloadElement.click(); //点击下载
      document.body.removeChild(downloadElement); //下载完成移除元素
      setTimeout(() => {
        alert(results.retmsg || '<%=t("tips.operationSuccess")%>');
        // location.href = "<%=config.siteUrl+config.managerPath%>";
      }, 300);
    }
  });
</script>
<% include inc/footer.html %>
